@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

label {
    margin-bottom: 0px !important;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 100%;
}

legend {
    font-size: medium !important;
}
.container {
    padding: 0px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.form-group {
    width: 100%;
    margin-bottom: 0px !important;
}

.form-row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.form-row>.col{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.form-check {
    display: flex !important;
    padding-left: 0px !important;
    justify-content: center;
}

.form-check-input {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.col {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.col-border {
    margin: 5px;
    padding: 5px !important;
    border: 1px solid #000000;
    border-radius: 8px;
}

.table-bordered td {
    border: none !important;
}

.rightTable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftTable {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.itens-inline {
    display: flex;
    justify-content: space-around;
    align-items: center;
}